.chat {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 8px;

  padding: .4rem .6rem;
  transition: .2s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background: rgb($bgLight-20);
  }

  .avatar {
    $size: 2.6rem;
    flex-shrink: 0;
    position: relative;
    width: $size;
    height: $size;
    border-radius: calc($size / 2);
    border: 2px solid #555;

    img {
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .info {
    line-height: 1.1;
    
    .username {
      line-height: inherit;
    }

    .subtitle {
      opacity: .6;
      font-size: .8em;
      line-height: inherit;
    }
  }
}