.header {
  display: flex;
  justify-content: center;
  padding: .8rem .6rem;
  background: rgb($bgLight-10);

  .user {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
  
    transition: .2s ease;
    cursor: pointer;

    .avatar {
      $size: 2.4rem;
      position: relative;
      width: $size;
      height: $size;
      border-radius: calc($size / 2);
      border: 2px solid #555;
  
      img {
        object-fit: cover;
        border-radius: inherit;
      }
    }
  
    .info {
      line-height: 1.1;
      
      .username {
        line-height: inherit;
      }
  
      .subtitle {
        opacity: .6;
        font-size: .8em;
        line-height: inherit;
      }
    }
  }
}

@media (min-width: 1080px) {
  .header {
    justify-content: flex-start;
  }
}